<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'sidebar', taxonomies: taxonomies %>
      <%= render 'products_list', products: products %>
    </div>
  </div>
</section>
